{{#section 'css'}}
    <link rel="stylesheet" href="/public/stylesheets/courseDetail.css">
{{/section}}
<div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>{{name}}</h2>
        <p>{{brief_description}}</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Cource Details Section ======= -->
<section id="course-details" class="course-details">
    <div class="container" data-aos="fade-up">
        {{#each courseInfo}}
        <div class="row">
            <div class="col-lg-8">
            {{!-- <h3>Et enim incidunt fuga tempora</h3> --}}
                <h3>More detailed:</h3>
                <div>{{{detail_description}}}</div>
            </div>
            <div class="col-lg-4">
                <img src={{thumbnail}} alt="">
                <button class="enroll-btn">ENROLL NOW</button>
                
            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Rating</h5>
              <p>{{fRatings avg_rating}}</p>   
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Course Fee</h5>
              <p>{{fCurrency price}}</p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>Student enrolled</h5>
              <p>{{fNumber students_learning}}</p>
            </div>
            
    </div>
    {{/each}}
    <div class="accordion" id="accordionExample">
        {{#each chapter}}
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {{this.name}}
            </button>
            </h2>
            <div  class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body ">
                
                <ul>
                    {{#each this.lessons}}
                    <li >{{this.name}} <a href="{{this.video_url}}" ></li>
                    {{/each}}
                </ul>
                
            </div>
           
        </div>
        {{/each}}
        
    </div>
    </section><!-- End Cource Details Section -->

    <!-- ======= Cource Details Tabs Section ======= -->
    <section id="cource-details-tabs" class="cource-details-tabs">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Teacher</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Gmail</a>
              </li>
             
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>name teacher </h3>
                    <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                    <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Et blanditiis nemo veritatis excepturi</h3>
                    <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                    <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna desera vafle de nideran pal</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/course-details-tab-2.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
             
              
              
          </div>
        </div>

      </div>
    </section>
  
